html {
  height: 100%;
}
body {
  font-family: 'Poiret One', cursive;
  background: url("/images/bg.jpg") center center fixed;
  background-size: cover;
  color: black;
  height: 100%;
}

.container {
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 5%;
  height: 90%;
}

h1 {
  font-size: 6em;
  line-height: 3;
  text-align: center;
}
