html {
  height: 100%;
  background: url("/images/bg.jpg") center center fixed;
  background-size: cover;
}
body {
  color: black;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 5%;
  border-radius: 12px;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 6em;
  line-height: 3;
  text-align: center;
}

h1 i {
  opacity: .6;
}

h2, h3 {
  font-family: 'Poiret One', cursive;
}

.featured {
  text-align: center;
}

.featured .col-sm-3 {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 10px;
}
