<h1><a href="/">Wildlife Tracker</a></h1>
#if($location)
<h2>$location.getDescription()</h2>
#end

#if($sightings)
<h3>Sightings:</h3>
<div class="row">
  <div class="col-xs-3"><h3>Time:</h3></div>
  <div class="col-xs-4">
    <h3>Animal</h3>
  </div>
</div>
#foreach($sighting in $sightings)
<div class="row">
  <div class="col-xs-3">$sighting.getTime()</div>
  <div class="col-xs-4">
    <h4><a href="/animals/$sighting.getAnimalId()">$sighting.getAnimal()</a></h4>
  </div>
</div>
#end
#end
